<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="../img/logo.png">
    <link rel="stylesheet" href="../css/especialidades.css">
    <title>Seleção de Especialidades</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="../img/medico.webp" alt="">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Especialidades Médicas</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label>Especialidades Médicas</label>
                        <div class="checkbox-group">
                            <label><input type="checkbox" name="specialty" value="Cardiologia"> Cardiologia</label>
                            <label><input type="checkbox" name="specialty" value="Cirurgia Geral"> Cirurgia Geral</label>
                            <label><input type="checkbox" name="specialty" value="Dermatologia"> Dermatologia</label>
                            <label><input type="checkbox" name="specialty" value="Ginecologia e Obstetrícia"> Ginecologia e Obstetrícia</label>
                            <label><input type="checkbox" name="specialty" value="Oftalmologia"> Oftalmologia</label>
                        </div>
                    </div>
                </div>

                <div class="continue-button">
                    <button type="submit">Enviar <i class="bi bi-arrow-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
